<!doctype html>
<html lang="{{ locale | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page_title | escape }}</title>
    <link rel="icon" href="{{ 'favicon.svg' | asset_url }}" type="image/svg+xml">
    {{ content_for_header }}
    {{ checkout_stylesheets }}
    {{ checkout_scripts }}
    <style>
      .checkout [data-trekkie-id="sign-in-link"],
      .checkout a[href*="/account/login"],
      .checkout [data-trekkie-id="privacy-policy"],
      .checkout a[href*="privacy-policy"] {
        display: none !important;
      }
    </style>
  </head>
  <body>
    {{ skip_to_content_link }}
    {{ order_summary_toggle }}
    {{ content_for_layout }}
  </body>
</html>
